# =============================================================================
# PostgreSQL
# =============================================================================
POSTGRES_ROOT_PASSWORD=change_me
KEYCLOAK_DB_PASSWORD=change_me

# =============================================================================
# Keycloak Admin
# =============================================================================
KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=change_me
